<div  ng-controller="statusCtrl"
			data-ng-init="getSessionStatus()">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="text-primary">Current Sessions</h4>
		</div>
	
		<div class="panel-body">
			<table class="table table-hover table-condensed">
				<thead>
					<tr class="active">
						<th>#</th>
						<th>Name</th>
						<th>ID</th>
						<th>Schedule</th>
						<th>Status</th>
						<th>Enable</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="session in allSessions">
						<td ng-if="$odd">{{ $index + 1 }}</td>
						<td ng-if="$even" class="active">{{ $index + 1 }}</td>
	
						<td ng-if="$odd" ng-click="editSession(session)"><a
							href="">{{ session.sessionName }}</a></td>
						<td ng-if="$even" class="active"
							ng-click="editSession(session)"><a href="">{{
								session.sessionName }}</a></td>
	
						<td ng-if="$odd">{{ session.id }}</td>
						<td ng-if="$even" class="active">{{session.id }}</td>
	
						<td ng-if="$odd">starts at: {{ session.startTime }}, {{
							session.duration }} min</td>
						<td ng-if="$even" class="active">starts at: {{
							session.startTime }}, {{ session.duration }} min</td>
	
						<td ng-if="$odd">{{ ( session.enable ? 'active' : 'inactive' )
							}}</td>
						<td ng-if="$even" class="active">{{ ( session.enable ?
							'active' : 'inactive' ) }}</td>
	
						<td ng-if="$odd"><input type="checkbox"
							ng-model="session.enable" disabled="true"></input></td>
						<td ng-if="$even" class="active"><input type="checkbox"
							ng-model="session.enable" disabled="true"></input></td>
					</tr>
					<!-- tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<button type="button" class="btn btn-success btn-xs"
								ng-click="applySessionChanges();">Apply</button>
						</td -->
	
					</tr>
				</tbody>
			</table>
			<!-- 
			<table>
				<tr ng-repeat="result in applySessionChangesResult" >
					<td > {{ result }}	</td>
	
				</tr>
			</table>  -->
		</div>
	</div>
			<div class="panel panel-default" ng-show="sessionEditShow"
			data-ng-init="sessionEditShow = 0; currentSession.enable = false; currentSessionDate = {};">
			<div class="panel-heading">
				<h4 class="text-primary">
					Edit Setting for Session: <b>{{currentSession.sessionName}}</b>
				</h4>
			</div>
			<div class="panel-body">

				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-3">
							<div class="checkbox">
								<label> <input type="checkbox"
									ng-model="currentSession.enable"> Enable Session</input>
								</label>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="checkbox">
								<label> <input type="checkbox"
									ng-model="currentSession.dailyRepeat">Repeat This
									Session Daily </input>
								</label>
							</div>
						</div>

					</div>
					<div class="form-group">
						<label for="sessionName" class="col-sm-3 control-label">Session
							Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="sessionName"
								ng-model="currentSession.sessionName" ng-disabled="true"></input>
						</div>
					</div>
					<div class="form-group">
						<label for="epochInterval" class="col-sm-3 control-label">Epoch
							Interval</label>
						<div class="col-sm-8">
							<select type="text" class="form-control" id="epochInterval"
								ng-model="currentSessionEpoch">
								<option>1 Second</option>
								<option>5 Second</option>
								<option>15 Second</option>
								<option>30 Second</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="startDate" class="col-sm-3 control-label">Start
							Date</label>
						<div class="col-sm-3">
							<select type="text" class="form-control" id="startDate"
								ng-model="currentSessionDate.year">
								<option>2015</option>
								<option>2016</option>
								<option>2017</option>
								<option>2018</option>
								<option>2019</option>
								<option>2020</option>
								<option>2021</option>
								<option>2022</option>
								<option>2023</option>
								<option>2024</option>
								<option>2025</option>
							</select>
						</div>
						<div class="col-sm-3">
							<select type="text" class="form-control"
								ng-model="currentSessionDate.month">
								<option>Jan-01</option>
								<option>Feb-02</option>
								<option>Mar-03</option>
								<option>Apr-04</option>
								<option>May-05</option>
								<option>Jun-06</option>
								<option>Jul-07</option>
								<option>Aug-08</option>
								<option>Sep-09</option>
								<option>Oct-10</option>
								<option>Nov-11</option>
								<option>Dec-12</option>
							</select>
						</div>
						<div class="col-sm-2">
							<select type="number" class="form-control"
								ng-model="currentSessionDate.day">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="startTime" class="col-sm-3 control-label">Start
							Time (GPS)</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="startTime"
								placeholder="hh:mm" ng-model="currentSessionDate.time">
							</input>
						</div>
						
							<label for="duration" class="col-sm-1 control-label"><small>Duration </small></label>
							<div class="col-sm-2">
								<input type="number" class="form-control" id="duration"
									placeholder="Minutes" ng-model="currentSession.duration">
								</input>
							</div>

							<label for="sessionID" class="col-sm-1 control-label"><small>ID</small></label>
							<div class="col-sm-2">
								<select type="text" class="form-control" id="sessionID"
									ng-model="currentSession.id">
									<option>0</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>a</option>
									<option>b</option>
									<option>c</option>
									<option>d</option>
									<option>e</option>
									<option>f</option>
									<option>g</option>
									<option>h</option>
									<option>i</option>
									<option>j</option>
									<option>k</option>
									<option>l</option>
									<option>m</option>
									<option>n</option>
									<option>o</option>
									<option>p</option>
									<option>q</option>
									<option>r</option>
									<option>s</option>
									<option>t</option>
									<option>u</option>
									<option>v</option>
									<option>w</option>
									<option>x</option>
									<option>y</option>
									<option>z</option>
								</select>
							</div>



					</div>
					<div class="form-group">
						<label for="ipAddress" class="col-sm-3 control-label">IP
							Address</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="ipAddress"
								placeholder="ip address (IPv4)" ng-model="currentSession.host">
							</input>
						</div>
						<label for="tcpPort" class="col-sm-2 control-label"><small>TCP
							Port</small></label>
						<div class="col-sm-3">
							<input type="number" class="form-control" id="tcpPort"
								placeholder="Port No." ng-model="currentSession.port"> </input>
						</div>
					</div>
					<!--  div class="form-group">
						<div class="col-sm-offset-3 col-sm-3">
							<div class="checkbox">
								<label> <input type="checkbox" checked ng-disabled="true">FTP Push</input>
								</label>
							</div>
						</div>
						<div class="radio  col-sm-2">
							<label> <input type="radio" name="optionsRadios"
								id="optionsRadios1" value="server1" checked> Server1
							</label>
						</div>
					</div> -->
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-3">
							<button type="submit" class="btn btn-danger  btn-xs"
								ng-click="deleteSession(currentSession)">Delete
								 Session</button>
						</div>
						<div class="col-sm-3">
							<button type="submit" class="btn btn-primary  btn-xs"
								ng-click="cancelEditSession()">Cancel/Close</button>
						</div>
						<div class="col-sm-2">
							<button type="submit" class="btn btn-warning  btn-xs"
								ng-click="editSessionInfo()">Apply Changes</button>
						</div>
					</div>
				</form>

			</div>
		</div>
</div>